.footer
	background-color: #292C2F

.footer__inner
	padding-top: 52px
	padding-bottom: 42px

.footer__logo-box
	width: 35%

.footer__logo
	width: 245px
	height: 97px

.footer__top
	display: flex
	padding-bottom: 23px
	margin-bottom: 40px

.footer__menu
	width: 45%

.footer__menu .menu__item
	width: 50%
	margin-right: 0
	padding-right: 10px
	margin-bottom: 27px

.footer__menu .menu__link
	font-size: 14px
	line-height: 16px
	text-transform: none

.footer__menu .menu__item:hover .menu__link:after
	display: none

.footer__info
	width: 20%

.footer__phone
	color: #ffffff
