.link
	color: #292C2F
	text-decoration: none
	transition: all .3s

.link:hover
	color: #67981A

.link__visually-impaired
	height: 18px
	padding-left: 34px
	position: relative

.link__visually-impaired:before
	content: ''
	width: 18px
	height: 18px
	display: block
	position: absolute
	top: 0
	left: 4px
	background-image: url(../img/icon-eye.svg)
	background-repeat: no-repeat
	background-position: center
	-webkit-background-size: contain
	background-size: contain

.link__city
	padding-left: 34px
	position: relative

.link__city:before
	content: ''
	width: 18px
	height: 18px
	display: block
	position: absolute
	top: 0
	left: 4px
	background-image: url(../img/icon-mark.svg)
	background-repeat: no-repeat
	background-position: center
	-webkit-background-size: contain
	background-size: contain

.link__phone
	font-size: 24px
	font-weight: bold
	letter-spacing: 0.1em

.link__search
	width: 18px
	height: 18px
	position: relative

.link__search:before
	content: ''
	width: 18px
	height: 18px
	position: absolute
	top: 0
	left: 0
	background-image: url(../img/icon-search.svg)
	background-position: center
	-webkit-background-size: contain
	background-size: contain
	background-repeat: no-repeat

