.list
	display: flex
	flex-wrap: wrap

.list--column
	flex-direction: column

.list__item
	margin-bottom: 32px

.list__item:last-child
	margin-bottom: 0

.list__text
	font-size: 18px
	margin-bottom: 10px

.list__title
	font-size: 18px
	margin-bottom: 12px

.list--cards .list__item
	width: 100%
	padding: 40px
	background-color: #fff
	margin-bottom: 24px
	box-shadow: 0 0 40px rgba(181,181,181,0)
	text-decoration: none
	position: relative
	transition: all .5s

.list--theme-grey .list__item
	background-color: #F8F8F8

.list--theme-grey .list__item:hover
	background-color: #f3f3f3

.list--cards .list__item:last-child
	margin-bottom: 0

.list--cards .list__text
	font-size: 16px

.list--cards .list__title
	color: #292C2F
	padding-right: 40px
	position: relative

.list--cards .list__title .icon-full-arrow-right
	width: 18px
	height: 18px
	position: absolute
	top: 50%
	right: 10px
	transform: translate(0, -50%)
	transition: all .3s

.list--cards .list__item:hover .icon-full-arrow-right
	transform: translate(5px, -50%)
	color: #68981A

.list--cards .list__item:hover
	box-shadow: 0 0 40px rgba(181,181,181,.4)

.list--cards.list__info .list__item:hover .icon-full-arrow-right
	transform: translate(5px, -50%)
	color: #fff

.list--cards.list__info .list__item:hover
	background-color: #68981A
	box-shadow: 0 20px 60px rgba(104, 152, 26, 0.3)

.list--cards.list__info .list__item .list__title
	transition: all .3s

.list--cards.list__info .list__item .prompt__list
	transition: all .3s

.list--cards.list__info .list__item:hover .list__title
	color: #ffffff

.list--cards.list__info .list__item:hover .prompt__list
	color: #fff


.list__icon-custom
	position: absolute
	top: 27px
	left: 27px
	width: 18px
	height: 18px
	background-repeat: no-repeat
	-webkit-background-size: contain
	background-size: contain
	background-position: center

.list .list__item--theme-blue
	background-color: #EBF0FC

.list .list__item--theme-blue:hover
	background-color: #d0deff

.list .list__item--theme-green
	background-color: #EEF8DF

.list .list__item--theme-green:hover
	background-color: #dbf1bb


.list__link
	text-decoration: none
	transition: all .3s

.list__link--white
	color: #fff

.list__social .list__item
	margin-bottom: 15px
	margin-right: 15px

.list__social .list__link
	max-width: 20px
	max-height: 20px

.list__social .list__link:hover
	color: #68981A

.list__footer-middle .list__item
	margin-bottom: 12px

.list__footer-middle .list__item:last-child
	margin-bottom: 0

.list__footer-middle .list__link
	opacity: .4
	font-size: 14px

.list__footer-middle .list__link:hover
	opacity: 1